/*
    Date: May 2017
    Author: Carlin Liu

    https://www.google.ca/search?q=github+pages+multiple+pages&oq=github+pages+&aqs=chrome.0.69i59l2j69i60l2j69i65j69i57.4622j0j7&sourceid=chrome&ie=UTF-8
    https://scratch.mit.edu/discuss/topic/212858/?page=1#post-2144927
    http://www.homeandlearn.co.uk/WD/wds5pA.html
*/

body {
    /*background-image: url('img/grey.jpg');*/
    background-color: #DBDBDB;
    color: #000305;
    font-size: 87.5; /*base font size is 14px, this is 87.5% of it*/
    font-family: Arial, 'Lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;
}

a {
  text-decoration: none;
}

a:link, a:visited {

}

a:hover, a:active {

}

.body {
  margin: 0 auto;
  width: 70%;
  clear: both;
}

.mainHeader img {
  width: 30%;
  height: auto;
  margin: 2% 0;
}

.mainHeader nav {
  background-color: #666;
  height: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainHeader nav ul {
  list-style: none;
  margin: 0 auto;
}

.mainHeader nav ul li {
  float: left;
  display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
  color: #FFF;
  display: inline-block;
  padding: 10px 25px;
  height: 20px;
}

.mainHeader nav a:hover, mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
  background-color: #22BEF2;
  text-shadow: none;
}

/*.mainHeader nav ul li a {

}*/

.mainContent {
  line-height: 25px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.content {
  width: 70%;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.topcontent {
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.bottomcontent {
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.top-sidebar {
  width: 25%;
  float: left;
  background-color: #FFF;
}
.middle-sidebar {
  width: 25%;
  float: left;
  background-color: #FFF;
}
.bottom-sidebar {
  width: 25%;
  float: left;
  background-color: #FFF;
}
